In [1]:
import pandas
dt = pandas.read_csv('C:/Users/Pooja/Desktop/ml/flavor_prediction/flavour.csv')
dt

    Age  Gender             Flavour
0     6    Male           Chocolate
1     6  Female          Strawberry
2     7    Male           Chocolate
3     8  Female          Strawberry
4    11    Male        Butterscotch
5    10  Female        Butterscotch
6    12    Male        Butterscotch
7    14  Female             Vanilla
8    15    Male               Mango
9    15  Female             Vanilla
10   17    Male               Mango
11   16  Female        Butterscotch
12   19    Male  Almond & Chocolate
13   18  Female        Butterscotch
14   20    Male  Almond & Chocolate
15   20  Female        Butterscotch
16   21    Male               Coffe
17   22  Female               Coffe
18   24    Male  Almond & Chocolate
19   24  Female               Coffe

In [2]:
dt['Age'].max()-dt['Age'].min()

18

In [3]:
len(dt['Age'])

20

In [4]:
from sklearn.preprocessing import LabelEncoder
Enc = LabelEncoder()
Enc.fit(['Male', 'Female'])

LabelEncoder()

In [5]:
dt['Gender'] = Enc.transform(dt['Gender'])

In [6]:
dt

    Age  Gender             Flavour
0     6       1           Chocolate
1     6       0          Strawberry
2     7       1           Chocolate
3     8       0          Strawberry
4    11       1        Butterscotch
5    10       0        Butterscotch
6    12       1        Butterscotch
7    14       0             Vanilla
8    15       1               Mango
9    15       0             Vanilla
10   17       1               Mango
11   16       0        Butterscotch
12   19       1  Almond & Chocolate
13   18       0        Butterscotch
14   20       1  Almond & Chocolate
15   20       0        Butterscotch
16   21       1               Coffe
17   22       0               Coffe
18   24       1  Almond & Chocolate
19   24       0               Coffe

In [7]:
X = dt.drop(columns=['Flavour'])
y = dt.drop(columns=['Age', 'Gender'])

In [8]:
X

    Age  Gender
0     6       1
1     6       0
2     7       1
3     8       0
4    11       1
5    10       0
6    12       1
7    14       0
8    15       1
9    15       0
10   17       1
11   16       0
12   19       1
13   18       0
14   20       1
15   20       0
16   21       1
17   22       0
18   24       1
19   24       0

In [9]:
from sklearn.tree import DecisionTreeClassifier
CModel = DecisionTreeClassifier()
CModel.fit(X, y)

DecisionTreeClassifier()

In [10]:
y

               Flavour
0            Chocolate
1           Strawberry
2            Chocolate
3           Strawberry
4         Butterscotch
5         Butterscotch
6         Butterscotch
7              Vanilla
8                Mango
9              Vanilla
10               Mango
11        Butterscotch
12  Almond & Chocolate
13        Butterscotch
14  Almond & Chocolate
15        Butterscotch
16               Coffe
17               Coffe
18  Almond & Chocolate
19               Coffe

In [11]:
age = 18
gender = Enc.transform(['Male'])
CModel.predict([ [age, gender] ])

C:\Users\Pooja\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Mango'], dtype=object)

In [12]:
def flav_pred():
    age = int(input('Age:'))
    gen = input('Gender:').capitalize()
    gender = Enc.transform([gen])
    flav = CModel.predict([[age, gender]])
    print('Recommended Flavour:', flav[0])

In [13]:
flav_pred()

Age:15
Gender:Male
Recommended Flavour: Mango

C:\Users\Pooja\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(